<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
      <title>When2Buy</title>
    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <link href="https://fonts.googleapis.com/css?family=Comfortaa|Lobster|Pacifico" rel="stylesheet">
    <link href="css/login.css" rel="stylesheet">
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->


  </head>
  <body>
  	

    <div class="content" style="padding: 1em;background: rgba(0, 0, 0, 0.15); height:100vh">
      <div class="jumbotron" id="loginTile" >
      <!-- login, edit, and ? buttons -->
        <h1 id="loginText">When2Buy</h1>
    </div>
        <br>
        <div class="form-group" id="loginForm">
        <form style="text-align: center; color: white;"> 
          Email: <br>
          <input class="form-control" id="loginBox1" type="text" name="email" 
          placeholder="user@example.com" required> 
          
          Password: <br>
          <input class="form-control" id="loginBox2" type="password" name="password" placeholder ="********" required> 
          
          <!-- fake button until auth system works-->
          <!--input type="submit" value="Submit" color="class="btn"-->
          <a href="/indexLogged" class="btn loginButton"> Login </a>
          <br>
          <p class="facebookLogin" style="margin-top: 1em;">Or login through Facebook</p>
          <fb:login-button scope="public_profile,email" onlogin="checkLoginState();">
          </fb:login-button>
      </form>

      <br>
      <span>
        <p style="color:white">
          Not a user yet? Sign up here
        </p>
        <a href="/signUp">
          <button type="button" class="btn btn-secondary" style="color: black;background: rgba(255,255,255,0.8);">
            Sign Up
          </button>
        </a>
      </span>

    </div>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.min.js"></script>
    {{> facebook}}
    <script src="/js/facebook.js"></script>
  </div>
  </body>
</html>