<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
      <title>When2Buy</title>
    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/login.css" rel="stylesheet">
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

  </head>

  <body>

    <video autoplay muted loop id="myVideo">
      <source src="/images/Back.mp4" type="video/mp4">
      Your browser does not support HTML5 video.
    </video>

    <div class="jumbotron" id="loginTile" >
      <!-- login, edit, and ? buttons -->
      <a href='/help'>
      <button type="button" class="btn btn-secondary" style="float: right;color: black;background: rgba(255,255,255, 0.8);">
        ?
      </button>
      </a>
      <a href = '#' onclick="history.back();">
       <button type="button" class="btn btn-secondary" style="float: left;color: black;background: rgba(255,255,255, 0.8);">
          &lt;
        </button>
      </a>
        <span id="loginText" style="font-size: 21px">Sign Up</span>

        <div style="margin-top: 1em;padding: 1em;" class="content">
        <img id="loginImage" src="/images/login.png" alt="avatar">

        <form style="text-align: center; color: white;"> 
          Enter your Email: <br>
          <input class="form-control" id="loginBox1" type="text" name="email" placeholder="user@example.com" required> 
          
          Set your Password: <br>
          <input class="form-control" id="loginBox2" type="password" name="password" placeholder ="********" required> 

          Re-enter your Password: <br>
          <input class="form-control" id="loginBox3" type="password" name="password" placeholder ="********" required> 
          
          <!-- fake button until auth system works-->
          <!--input type="submit" value="Submit" color="class="btn"-->
          <a href="/login" class="btn btn-default" style="
            width: 60%;
            background: rgba(255, 255, 255, 0.8);margin-left: 6px;"> Sign Up </a>
          <br>
        </form>
      </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

    <script src="/js/bootstrap.min.js"></script>
  
  </body>
</html>