 .listButton  a, button{
 	font-size: 25px;
	/*width: 40%;*/
	display: block;
	padding: 0.5em;
	margin: 30px;
	margin-bottom: 25px;
	/*background: rgba(255, 255, 255, 0.8);
	border-color: white;
	color: white;*/
	/*box-shadow: 0 0 6px 1px darkred;*/
}