html{ 
    position: relative;
    min-height: 100%;
 }

body {
    background-image: url("/images/kitchen.jpg");
    background-color: #cccccc;
    background-size: cover;
    min-height: 100vh;
}

#listTile{
    position: relative;
    flex:1;
	padding: .5em;
    clear: left;
    text-align: center;
    background-image: url("/images/kitchen.jpg");
    background-color: #cccccc;
    line-height:20px;
    display: flex;

}

#listName{
	margin-left: auto;
    margin-right: auto;
    color: white;
    font-size: 24px;
     font-family: 'Comfortaa', cursive;
}

#dueDate{
    margin-left: auto;
    margin-right: auto;
    color: white;
    font-size: 19px;
    font-family: 'Comfortaa', cursive;
}

.jumbotron{
    margin-bottom: 0px
}

footer {
    padding: 1em;
    color: white;
    clear: left;
    text-align: center;
    position: absolute;
    min-height: 10%;
    width:100%;
    bottom:0%;
}

ul {
    padding: 1em;
    clear: left;
    text-align: center;
}

#item{
    padding: 1em;
    clear: left;
    text-align: center;
}

.item {
    display:block;
    padding: .5em 0 .5em .5em;
    border: solid black;
    border-width: 0 0 0.05em 0;
    font-family: 'Comfortaa', cursive;
}

#newItemButton{
    float: left;
    bottom: 10%;
    position: absolute;
    background-color:#4864b4;
    color:white;
}

#shareButton{
    float: right;
    bottom: 12%;
    position: absolute;
    background-color:#4864b4;
    color:white;
    width: 44.8px;
    height: 45px;
    font-size: 10px;
    padding-left:7px;
}

h4 {
    display:inline-block;
    font-family: 'Comfortaa', cursive;
}

#itemList {
    line-height: 10px;
    margin-bottom: 0px;
    padding: 0;
    min-height: 80vh;
}

#itemList > .item:hover{
    background:#ddd;
}

#itemList .item.checked {
    background: #888;
    text-decoration: line-through;
    color: #fff;
}

.item.checked a h4 {
    text-decoration: line-through;
}

.upperLeftButton {
    background: transparent;
    margin-right:auto;
    color:white;
}

.upperRightButton {
    background: transparent;
    margin-left:auto;
    color:white;
}

.listTitleWrapper {
    display:flex;
    flex-direction: column;
}

svg:not(:root).svg-inline--fa {
    font-size: 30px;
}

#suggestedItems {
    background: rgba(255,255,255,0.8);
    margin-left: auto;
    margin-right: auto; 
    font-family: 'Comfortaa', cursive;

}
