body {
    margin: 0;
    font-family: Arial;
    font-size: 17px;
    /*background-image:  url(/images/backgroundLight.jpg);*/
    background-image: url(/images/kitchen.jpg);
    background-size: cover;
    background-position:50%;

}

#loginText{
    font-family: 'Comfortaa', cursive;
    color: white;
    margin-left: auto;
    margin-right: auto;
    font-size: 45px;
}

.jumbotron{
    margin-bottom: 0px
}

#myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%; 
    min-height: 100%;
}

#loginTile{
    text-align: center;
	position: relative;
	background: rgba(255,255,255, 0);
}

.content {
    position: relative;
    bottom: 0;
    color: #f1f1f1;
    width: 100%;
    padding: 20px;
    text-align: center;
}

#loginImage {
	border-radius: 50%;
    width: 100px;
    height: 100px;
    margin-left: auto;
    margin-right: auto;
    display:block;
}

h1 {
	text-align: center;
	clear:left;
	display:block;
	margin-right: auto;
	margin-left: auto;
}

#loginBox1 {
	width: 60%;
	box-shadow:0 0 0 0px black;
    margin-left: auto;
    margin-right: auto;
	margin-bottom: 10px;
}

#loginBox2 {
    width: 60%;
    box-shadow:0 0 0 0px black;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}

#loginBox3 {
    width: 60%;
    box-shadow:0 0 0 0px black;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
}

.loginButton {
    width: 60%;
    background: #4864b4;
    box-shadow: -1px 1px 14px black;
    color: white;
}

form {
    font-family: 'Comfortaa', cursive; ;
}

p {
    font-family: 'Comfortaa', cursive; ;

}

.upperLeftButton {
    background: transparent;
    margin-right:auto;
    color: white;
}

.upperRightButton {
    background: transparent;
    margin-left:auto;
    color: white;
}

svg:not(:root).svg-inline--fa {
    font-size: 30px;
}

.welcomeTile {
    padding:.5em;
    display:flex;
}